* {
  box-sizing: border-box;
/*  border:solid 1px red;*/
}

body {
  background: url(background-stars1.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #00ff00;
  font-family: monospace;
  font-size: 1.5em;
  text-shadow: 0px 0px 15px #4fff4f;
}

div {
  width: 70%;
  margin: 10px auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: 20px 5px;
  cursor: pointer; cursor: hand;
}

div {
  display: none;
}

#wrapper {
  display:block;
  text-align: center;
  border:none;
  background: none;
  cursor: default;
}

.enter {
  display: block;
  padding: 7px 0;
  margin: 30px auto 10px auto;
  max-width:4em;
  border:3px solid #00ff00;
  border-radius:7px;
  box-shadow: 0px 0px 15px #4fff4f;
  font-size: 3em;
  -webkit-animation: blink 1.5s infinite;
  -moz-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}

.active, .static {
  display: block;
}

#wrapper .branch.left {
  float: left;
  margin: 0 auto;
  width: 49.5%
}

#wrapper .branch.right {
  float: right;
  margin: 0 auto;
  width: 49.5%;
}

.active .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.static .typed-cursor {
  display: none;
}

@media screen and (max-width: 1130px) {
  div {width: 90%}
}

@media screen and (max-width: 800px) {
  div {width: 100%}
}

